
.header{
    left: 0px;
    margin-right: auto;
    height: 60px;
    width: 200px;
    margin-left: 150px;
}

nav{
    display: flex;
   

    background-color:#273b5e!important;;
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    justify-content: end;
}
.box-head{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 60px;
}
.line{
    background: #ff1949;
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin: auto 0;
    width: 40px;
    height: 2px;
    left: %;
}

.text{
  font-size: 32px;
  line-height: 1.3;
  width: 100%;
  font-family: sans-serif;
}

b{
    
    color: rgb(255, 255, 255);
margin-top: 20px;
margin-left: 50px;
font-size: 18px;
}

.box{
 background-color: red;
height:30px;
border-radius: 5px;
    font-size: 20px;
}
.box:hover{
background-color: rgb(81, 81, 146);
}
.box2{
    border-color: black;
    margin-right: 200px;
    border-radius: 20px;
    height: 40px;
    padding:15px;
    width: 40px;
}  
.header1{
    background-color:#273b5e!important;;
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;
    height: 830px;
    
    

}
/* .box3{
    flex:50%
}
.box4{
    flex:50%
} */
.box3{
    text-transform:capitalize;
    font-size: 13px;
    color: white;
    font-weight:bolder;
    /* letter-spacing: 3px; */
    position: relative;
    width: 70%;
    font-family: Quicksand;
    /* padding-left: 200px;
    padding-top: 100px; */
    display: inline-block;
    text-align: left;
    left: 10%;
    margin-left: 10%;
}
.box3 .text{

    font-size: 32px;
color: white;

}
.box3 .desc{
    font-weight: 400px;
    font-size: 16px;
    font-family:Muli,sans-serif;
    line-height: 30px;
    width: 80%;
    color: white;
}
.frame{
    color: white;
    background-color: #ff1949;
  width: 18%;


  font-weight: 100%;
  position:relative;
  text-transform: capitalize;
  padding: 20px 40px; 
  border-radius: 5px; 
}
.frame:hover{
    background-color: #385777;

}


/* .box3:before{
    position: absolute;
    content: "";
    left: 0;
    width: 40px;
    height: 2px;
    background: #ff1949;
    top: 0;
    bottom: 0;
    margin: auto ;
margin-top: 118px;
margin-left: 150px;} */

.box5{
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    /* padding-left: px;
    padding-top: 180px; */
    padding-right: 00px;
    display: inline-block;
    top: 10%;
}
.img{
    font-family: Muli,sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
    color: #ffffff;
    overflow-x: hidden;

}

.oray {
   
    background-color: #eb1e4a;
    padding:30px;
    width:70%;
    height:150px;
    margin-top: 10%;
    border-radius: 10px;


    position: absolute;
    display: flex;
    
    top:600px;
    left:200px;
  
    
  }
  
  .oraylogo {
    display: flex;
    height: 60%;
    width: 150px;
    margin-top:40px;
   
   
  }
  
  .oraytext::before {
    background-color: rgb(255, 255, 255);
    color: white;
    display: inline-block;

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-top:0%;
  }
  
  .oraytext2{
    background-color: #385777;
    color:rgb(83, 16, 16);
    display: flex;
    margin-bottom:%;
    align-items:center;
    font-size: 20px;
    margin:11%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  h3{
    color:white;
    margin-top:px;
  }
  .btn2:hover{
    background-color: #07294d;}
.btn5{
    border-radius:20px;
    height:50px;
    width: 200px;
    background-color: #07294d;
    font-size:12px;
    color: white;
    padding-left:40px;
}
.btn5:hover{
  background-color:rgb(253, 11, 11);
}
.education{
    height: 650px;
    width: 100%;
    padding-top:150px;
    padding-right: 15px;
    padding-left:8px;
    margin-right: auto;
    margin-left: auto;    
    
    

}
.bt2{
  background-color: red;
  width: 160px;
  height: 65px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
.bt2:hover{
  background-color: #07294d;
}

.eduline{
    justify-content: center!important;
}
.h{
    height: 10px;
    width: 650px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fd1849;
    font-weight: 600;
    letter-spacing: 2px;
    position: static;

    display: inline-block;
    margin-left: 650px;

}
h2{
    display:inline-flex;
    padding-right: 200px;
    font-size: 30px;
    font-family: Quicksand,sans-serif;
    font-weight:bold;
    line-height:50px;
    margin-left:18%;
    color: #07294d;
}

.navbar{
  z-index: 1;
}
 

.course{
  z-index:-1;
   display: flex ;
   margin-left: 10%; 
   flex-wrap:nowrap;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 rgba(144, 171, 222, 0.2);;
    width: 80%;
  
    
  
    
    /*width: calc(20% - 10px);
    padding: 15px;
    margin: 0 0 33px;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(146,184,255,.2);*/
}
img{
    vertical-align: middle;
    border-style: none;
}
.sub{
    margin-top: 0%;
    width: 200px;
    height: 200px;
    padding:1;
    right: 80%;
    text-align:center;
    box-shadow:rgba(100,100,111,0.2)0px 7px 29px 0px;
    border-radius:10px;
    
}
.sub:hover {
  transform: translate(0px,-20px);
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.img{
    height:90px;
    width: 90px;
    position: relative;
    margin-bottom: 10px;
}
h4{
    font-family: Quicksand,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
    color: #07294d;
}
.main0{
    height: 95%;
    margin-top: 20%;
    margin-left: 7%;
}
  
  
  .main1{
    top:500px;
    width: 100%;
   height:500px;
    display:flex;
    margin-top: %;
    padding:0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  .left1{
    display: flex;
    
    width: 50%;
   margin-left: 10%;
    margin-top:40px;
   
  }
  .right1{
    position:flex;
    width: 50%;
    padding:350px;
    padding-right: 15px;
    padding-left:1200px;
  }
  .uldiv{
    list-style-type: none;
    display: contents;
    height: 150px;
    width: 150px;
    margin-top:40px;
   
  }
  .ex {
    margin-left: 10%;
    margin-top: 7%;
    width:70%;
    text-transform: uppercase;
    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 60px;
    display: inline-block;
  }
  .ex::before{
    color: red;
    width: 10%;
    height: 10%;
  }
  .btn2{
    margin-left: 8%;
    background-color: #ff1949;
    border-radius:10px;
    margin-top: 3%;
  }
  h3{
margin-left: 10%;
    width: 70%;
    font-family: Quicksand,sans-serif;
    font-size:35px;
    font-weight:bold;
   padding-top: 10px;
    line-height:40px;
    margin-bottom: 0;
    color: #07294d;
    
}
  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
  }
  li{
    
        display: list-item;
        text-align: -webkit-match-parent;
  }
  .ulmain{
    margin-left: 6%;
    font-size: 20px;
    padding-left: 30px;
    font-weight: 700;
    color: #ff1949;
  }
  
  p{
    margin-left: 10%;
    color: #535967;
    font-family: Muli,sans-serif;
    line-height: 28px;
    font-size: 16px;
}
.tech{
    width: 65%;
}
.tech1{
    width: 68%;
}
.tech2{
    width: 65%;
}
  .main2{
    display:flex;
    box-shadow: none;
    margin-bottom: 0;
    padding:130px;
    background: #fff;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.04);
     border-top: 0;
  }
  .subs:hover {
    background-color: #fd1849;
    transform: translate(0px,-25px);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  .subs{
    width:200px;
    height: 200px;
    margin: auto;
    text-align: center;
    box-shadow:rgba(100,100,111,0.2)0px 7px 29px 0px;
    border-radius:5px;
    margin-top: 10%;
  }
  .main3{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .main3-sub1{
    align-items: center!important;
  }
  .main3-sub2{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
  
  .subhead{
       margin-bottom: 30px;

  }
  .subheading{
    text-transform: uppercase;
    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;
    margin-left: 30%;
    width: 200px;
    margin-top: 20%;
  }
  .cand{
    width: 400px;
    margin-left:30%;
    margin-top: 1%;
  }
  .btn{
    width:12% ;
    margin-left: 75%;
    margin-top: 0%;
    padding: 1%;
    border-radius: 6px;
    background-color: red;
    color:white;
    font-size: medium;
  }
  .btn:hover{
    background-color: #385777;
  }
  
.class{
    
    display: flex ;
    margin-left: 13%;
    margin-top: 8%; 
    flex-wrap:nowrap;
     justify-content: space-between;
     box-shadow: 0 8px 16px 0 rgba(144, 171, 222, 0.2);;
     width: 75%;
     height: 0%;
     padding: %
}
.tech3{
    width: 255px;
    height: 390px;
    margin-top:0%;

    text-align:center;
    box-shadow:rgba(100,100,111,0.2)0px 7px 29px 0px;
    border-radius:10px;
    
}
.img9{
    width: 80%;
    padding:10%;

}
.xx{
    color: red;
}
.tech3:hover {
    transform: translate(0px,-20px);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
     
.logo{
    display:flex;
background-color: #fd1849;
color: #e2f4ff;        
padding:30px;
        width:110%;
        height:280px;
 margin-top: 10%;

   
}
.logotext{
color: #eee;
    display: flex;
    column-gap: 50px;
    align-items: center;

}
.aa{
    width:160px;
margin-top: 50%;
color: #eee;

}
  
  .main4{
    padding: 100px 0;
  }
  .sub1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }
  .row{
    text-align: Center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

  }
  .section{
    margin-bottom: 60px;
  }
  .spn{
    text-transform: uppercase;
    font-size: 15px;
    color: #ff1949;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left:500px;
    display: inline-block;
    margin-left: 210px;
  }
  .cc{
    font-size: 36px;
    margin-top:1px ;
    margin-left: 414px;
  }
  .a{
    
      display: flex;
      flex-wrap: wrap;
      margin-right:20px;
      margin-left: 20px;
    padding:40px ;
    background: #fff;
    position:relative;
    
    border-radius: 10px;
    border: 1px solid #eee;
  }
  .comp{

inline-size:168px ;
margin-left: 50px;
    text-align: center;
    
  }
  .pp{
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .qq{
    margin-left: 15%;
    margin-top: 0%;
  }
  .mainclient{
    display: flex;
    flex-wrap: wrap;
    margin-right:230px;
    margin-left: 230px;
  padding:0px ;
  background: #fff;
  position:relative;
  
  border-radius: 10px;
  border: 1px solid #eee;
  }
  .client-logo{
    margin-bottom:20px;
   padding:30px;
    text-align: center;

  }
.spnn{
    margin-left:50%;
    color: red;
    padding:0%;
    margin-top: 50%;
}
.ww{
    margin-left: 40%;
    margin-top: 0%;
}

.ee{
    width: 500px;
    margin-left: 60px;
}
.career{
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 170px;
  margin-right: 450px;
  
  
}
.testinomials {
  display: block;
}

.testinomials .container {
  display: block;
  height: 851px;
  position: relative;
  /* top: 500px; */
}
.hiringPartnersheading-1,
.hiringPartnersheading-2 {
    display: flex;
    justify-content: center;
}

.hiringPartnersheading-1 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    color: #ff1949;
    margin-top: 100px;
}
.hiringPartnersheading-2  {
width: 85%;
  font-size: 32px;
color: #273b5e;
font-family: Muli, sans-serif;

}

.ContainerMessage {
  margin-bottom: 25px;
  border-radius: 14px;
  padding: 40px 30px 30px 40px;
  position: relative;
  border: 1px solid #eee;
  background-color: #263b5e;
  width: 690px;
  height: 368px;
  position: relative;
  top: 100px;
  left: 370px;
  cursor: pointer;
}

.ContainerMessage:hover{
  background-color: #ff1949;
}
.client-desc {
  display: flex;
  align-items: center;
  margin-top: 40px;
  position: relative;
  left: 353px;
  top: 76px;
  width: 527px;
}
.client-info p {
  max-height: 200px !important;
  min-height: 200px !important;
  overflow-y: hidden;
  font-size: 18px;
  line-height: 33px;
  margin: 20px 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.client-img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  font-size: 20px;
}
.img-fluid{
  margin-top: 20%;
  width: 90%;
}
.designation{
  color: red;
}
.btnin{
  background-color:red;
  height: 60px;
  width: 200px;
  color: white;
  font-size: 18px;
  border-radius: 8px;

}
.btnin:hover{
  background-color: #273b5e;
}

.client-text {
  position: relative;
  left: 25px;
  top: 0px;
  color: #07294d;
  
}
.moretest{
  display: flex;
  justify-content: center;
}

.lo{
  border-radius: 2%;
}
.career-logo{
  margin-left: 3%;

    transition: .4s;
    cursor: pointer;
    border: 1px solid #e2f4ff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn3{
  background-color: red;
  border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

.logo1{
padding: 20px;
}

.about1{
  display: flex;
  margin-left: 1%;
  justify-content: start;
  height: 550px;
  width: 100%;
  background-color: rgba(15, 8, 8, 0.942);
}
.abt1{
  height: 300px;
  width: 400px;
  margin: 50px;
}
.abt1 p{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: Quicksand,sans-serif;
}
.abt1 p:hover{
  color: #fd1849;
}
.abt1 h5{
  color: #e2f4ff;
  display: block;
  font-size: 28px;
  padding-left: 40px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
}
.abt2{
  height: 300px;
  width: 160px;
  margin: 50px;
}
.abt2 p{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  letter-spacing: 2px;
  font-weight: 50;
  font-size: 15px;
  font-family: Muli, sans-serif;
}
.abt2 p:hover{
  color: #fd1849;
}
.abt2 h5{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  padding-left: 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  text-align: cen;
}
.abt3{
  height: 300px;
  width: 150px;
  margin: 50px;
}
.abt3 p{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  letter-spacing: 2px;
  font-size: 15px;

  font-family: Muli, sans-serif;
}
.abt3 p:hover{
  color: #fd1849;
}
.abt3 h5{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  padding-left: 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  text-align: cen;
}
.abt4{
  height: 300px;
  width: 350px;
  margin: 50px;
}
.abt4 h5{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  padding-left: 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  text-align: cen;
}
.abt4 ul{
  list-style-type: none;
}
.abt4 li{
  margin: 40px;
  color: #fd1849;
}
.abt4 li:hover{
  color: #273b5e;
}
.social{
  margin-top: 30px;
  padding: 10px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
}
.social1{
  height: 40px;
  width:40px;
  border-radius: 60px;
  margin: 5px;

  background-color: #fff;
}

.boxe{
  height:400px;
  width: 100%;
  background-color: #ff1949;
  display:flex;

  
}
.placementbox{
  position: relative;
  width: 150px;
  left: 50px;

  
}
.count{
  font-size: 50px;
  color: #fff;
  
}
.cnt1{
  position: relative;
  top: 50px;
  left: 150px;
  line-height: 40px;
    
}
.cnt2{
  position: relative;
  top: 50px;
  left: 210px;
    
}
.cnt3{
  position: relative;
  top: 60px;
  left: 200px;
    
}
.cnt4{
  position: relative;
  top: 50px;
  left: 250px;
    
}
.cnt-h{
  font-size: 50px;
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 10px;

}
 .pcn1,.pcn2,.pcn3,.pcn4{
  font-size: 14px;
   
    color: #fff;
    position: relative;
    top: 81px;
    left: 72px;
 }
 .pcn1{left:100px ;}
 .pcn2{left: 160px;}
 .pcn3{left: 180px;} 
 .pcn4{left: 220px;}
  .main4{
    padding: 100px 10px;
  }

  .ftlogo{
    display: flex;
    padding: 20px;
    position:relative;
    height:50px
    
  }
  .tct{
    margin-left: 100%;
  }
  .jik{
    width: 600px;
    margin-left: 500px;
  }